body {
    background-color: rgb(177, 133, 106);
}
h1 {
    color: rgb(100, 67, 52);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 250;
    font-size: 50px;
    padding-top: 1em
}

h2 {
    color: rgb(100, 67, 52);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 150;
    font-size: 30px;
}

p {
    color: rgb(235, 211, 181);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 15px;
}

footer {
    position: fixed; bottom: 2em; right: 2em;
    color: rgb(235, 211, 181);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 15px;
}