body {
/*    background-image: url("/assets/monitor-tiling.png");
    background-repeat: repeat; */
    background-color: rgb(177, 133, 106);  
}

.background {
    background-image: url(./assets/monitor-tiling.png);
    background-repeat: repeat;
    background-color: rgb(177, 133, 106);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

h1 {
    color: #644334;
    background-color: #bd9d879a;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 250;
    font-size: 50px;
    padding-top: 1em
}

h2 {
    color: rgb(100, 67, 52);
    background-color: #bd9d879a;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 150;
    font-size: 30px;
}

p {
    color: rgb(235, 211, 181);
    background-color: #bd9d879a;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.7;
}

footer {
    position: fixed; bottom: 2em; right: 2em;
    color: rgb(235, 211, 181);
    background-color: #bd9d879a;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 15px;
}

hr.large {
    background:#c4a085;
    height: 20px;
    border: 0;
}

hr.medium {
    background:#866148;
    height: 15px;
    border: 0;
}

hr.small{
    background: #674b3c;
    height: 5px;
    border: 0;
}

hr.skinny{
    background:#e2ba99;
    height: 1px;
    border: 0;
}

img {
    height: 50%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    column-count: 4;
    column-gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #c4a08577;
    padding: 30px;
}

@media screen and (max-width: 2024px) {
    .container {
        column-count: 3;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        column-count: 2;
    }
}

@media screen and (max-width: 875px) {
    .container {
        column-count: 1;
    }
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

embed {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.box {
    --mask:
      radial-gradient(41.87px at 50% calc(100% + 25.5px),#0000 calc(99% - 5px),#000 calc(101% - 5px) 99%,#0000 101%) calc(50% - 60px) calc(50% - 17.5px + .5px)/120px 35px repeat-x,
      radial-gradient(41.87px at 50% -25.5px,#0000 calc(99% - 5px),#000 calc(101% - 5px) 99%,#0000 101%) 50% calc(50% + 17.5px)/120px 35px repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}